body{
    background-color: rgb(46, 46, 114);
}

.container{
    min-height: 100dvh;
    background-color: rgb(46, 46, 114);
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-card{
    width: 24rem;
}

.question-footer{
    border-top: 1px solid rgb(41, 40, 40, 0.5);
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}

.quiz-answer:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}

.bg-success, .bg-danger{
    color: white;
}

.width-100{
    width: 100%;
}

.text-center{
    text-align: center;
}

.final-headline{
    font-size: 24px;
    padding-bottom: 32px;
}

.button-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}